[Unit]
Description=Detect Powerloss

[Service]
Type=simple
ExecStart=/home/serg/src/useful-stuff/ups/detect-powerloss.sh
ExecStartPre=/bin/sleep 120

[Install]
WantedBy=default.target
